h1 {
  color: blue;
  font-size: 3em;
  text-decoration: underline;
}
  
#hrx_starter {
  /* width: 2520px; */
  /* padding: 10px;
  border: 5px solid gray; */
  margin: 0;
}
  
button_group {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  /* width: 75px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 10px;
  cursor: pointer;
  /* float: left; */
  border: 1px solid black;
}

button_group:hover {
  background-color: #3e8e41;
}

#btn_group {
  border: none;
  text-align: center;
}

#category1 {
  font-size: 24px;
  margin: -150px 0 0 -150px;
}
#category2 {
  font-size: 24px;
  margin: 50px 0 0 -325px;
}
#category3 {
  font-size: 24px;
  margin: 50px 0 0 -525px;
}
#category4 {
  font-size: 24px;
  margin: 50px 0 0 -375px;
}
#category5 {
  font-size: 24px;
  margin: 50px 0 0 -375px;
}
#category6 {
  font-size: 24px;
  margin: 50px 0 0 -600px;
}

body {
  margin:0;
  font-family:Georgia;
}

#container .box {
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
}

#container .box > div {
  width:100px;
  height:100px;
  font-size:96px;
  color:#FFF;
  position:absolute;
  top:50%;
  left:50%;
  margin:-50px 0 0 -50px;
  line-height:.7;
  font-weight:bold;
}

#container {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}

#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
}

.one {
  background-color: #45CCFF;
}
.box1 {
  /* background-color: black; */
  
  /* width:100%;
  height:100%; */
  float:left;
  margin: -815px 0 0 -650px;
  width:630px;
  height:1720px;
  padding: 30px 10px;
  background-color: black;
}
.p11 {
  font-size:24px;
  float:left;
  margin:-315px 0 0 -650px;
  width:630px;
  height:720px;
  padding: 30px 10px;
  /* background-color: black; */
  /* border: 1px solid black; */
  text-align: center;
}
.p12 {
  font-size:40px;
  /* float:left; */
  margin:-200px 0 0 170px;
  text-align: center;
  display: inline-block;
}
#questions {
  padding: 30px 0px;
  margin:100px 0 0 0;
}
#answers {
  margin-bottom: 150px;
}

.two {
  background-color: #49E83E;
}
.p21 {
  font-size:40px;
  float:left;
  margin:-200px 0 0 -550px;
  text-align:center;
}
.p22 {
  font-size:40px;
  float:left;
  margin:-130px 0 0 -90px;
}

.three {
  background-image: url('https://pbs.twimg.com/media/DjRkWPeU8AIeWtG?format=jpg&name=large');;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: 105% 1550px;
  opacity: 0.60;
}

.bbutton {
  text-align:center;
  margin: 0 0 0 0px;
}

.four {
background-image: url("https://media.gcflearnfree.org/content/55e06a511496fdb039ceef59_01_17_2014/CreatingABudget_Intro1.png");
background-repeat: no-repeat;
/* background-attachment: fixed; */
background-size: 100%;
opacity: 0.75;
}

.five {
  background-image: url("https://media.gcflearnfree.org/content/55e06a511496fdb039ceef59_01_17_2014/CreatingABudget_Intro1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:60%, 90%;
  opacity: 0.65;
}

.six {
background-color: blue;
}

/* Translating the content's X ruins the scrollbar length. */
/*
#container {
overflow:scroll;
transform: rotate(90deg) translateY(-100%);
transform-origin: top left;
background-color:#999;
position:absolute;
width:100vh;
height:100vw;
}
#container2 {
transform: rotate(-90deg) translateX(-100vw);
transform-origin: top left;
white-space:nowrap;
}
*/
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  width: 250px; /* Full-width */
  height: 20px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slideincome {
  margin: -275px 0 0 -700px;
}
.slidefood {
  margin: 50px 0 0 -700px;
}
.slidealcohol {
  margin: 50px 0 0 -700px;
}
.slidehouse {
  margin: 50px 0 0 -700px;
}
.slidetransport {
  margin: 50px 0 0 -700px;
}
.slidehealthcare {
  margin: 50px 0 0 -700px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  border-radius: 50%;
  background: url('https://www.variety.org.au/nsw/wp-content/uploads/2018/05/dollar-sign-icon.jpg');
  background-size: 300%;
  background-position: center;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  border-radius: 50%;
  background: url('https://www.variety.org.au/nsw/wp-content/uploads/2018/05/dollar-sign-icon.jpg');
  background-size: 300%;
  background-position: center;
  cursor: pointer; /* Cursor on hover */
}

  /* The container must be positioned relative: */
  .custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
   /* The container must be positioned relative: */
   .custom-select {
      position: fixed;
      margin: -600px 0 0 -200px;
      font-family: Arial;
      font-size: 15px;
    }
    
    .custom-select select {
      display: none; /*hide original SELECT element: */
    }
    
    .select-selected {
      background-color: black;
    }
    
    /* Style the arrow inside the select element: */
    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    }
    
    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }
    
    /* style the items (options), including the selected item: */
    .select-items div,.select-selected {
      color: #ffffff;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
    }
    
    /* Style items (options): */
    .select-items {
      position: absolute;
      background-color: DodgerBlue;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }
    
    /* Hide the items when the select box is closed: */
    .select-hide {
      display: none;
    }
    
    .select-items div:hover, .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    } 
